<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<h2>Изменение данных</h2>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="firstName">Имя</label>
  <input type="text" th:field="*{firstName}" id="firstName" placeholder="Новое имя">
  <br/>
  <label for="lastName">Фамилия</label>
  <input type="text" th:field="*{lastName}" id="lastName" placeholder="Новая фамилия">
  <br/>
  <input type="submit" value="Обновить">
</form>
</body>
</html>