<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTES</title>
    <link rel="stylesheet" th:href="@{/site/css/style.css}" href="../static/css/style.css">
</head>

<body>
<header></header>
<main>
    <div class="container">
        <div class="top">
            <div class="title_box">
                <a class="title flicker-in-2" href="index.html"  th:href="@{/site}">NOTES</a>
            </div>
            <div class="buttons_box">
                <a class="button new roll-in-right" href="note.html" th:href="@{/site/add}">New</a>
                <button class="button delete roll-in-right" id="delete">Delete</button>
            </div>
        </div>
        <table class="table slide-in-blurred-top">
            <thead>
            <tr>
                <th class="column_head"></th>
                <th class="column_head">CREATION</th>
                <th class="column_head">TITLE</th>
                <th class="column_head">BODY</th>
            </tr>
            </thead>
            <tbody id="notes">
            <tr class="note_row" th:each="note: ${notes}">
                <td class="column">
                    <input type="checkbox" name="id_1" id="id_1" class="checkbox" th:name="'id_' + ${note.id}" th:id="'id_' + ${note.id}">
                    <label for="id_1" th:for="'id_' + ${note.id}" class="checkbox_label"></label>
                </td>
                <td class="column" th:text="${note.creation}">12/12/12</td>
                <td class="column" th:text="${note.title}">Test</td>
                <td class="column" th:text="${note.body}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
                    reiciendis.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer></footer>

<script type="text/javascript" th:src="@{/site/js/script1.js}" src="../static/js/script1.js"></script>
</body>

</html>